<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>眺めるページ</h1>

{% block body %}

<ul>
    {% for watch in watch_list %}
        <li>{{ watch.first_date }}:
            <a href="{% url 'home:watch_detail' watch.id %}">{{ watch.food_name }}</a>
        </li>
    {% empty %}
        <div>作ったごはんが１つもありません</div>
    {% endfor %}
</ul>

{% endblock %}

<br>
<br>
<a href= "{% url 'home:home' %}">ホームに戻る</a>


</body>
</html>
