<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>食のアトリエ</title>
</head>
<body>
    <h2>作ったごはん</h2>
    <form method="POST" enctype="multipart/form-data">
        <h4>料理名</h4>
            {{form.food_name}}
        <br>
        <h4>つくった日</h4>
            {{form.first_date}}
        <br>
        <h4>料理の写真</h4>
            {{form.picture}}
        <h4>memo</h4>
            {{form.memo}}
        <br>
        <br>
        <h4>ラベルの選択</h4>
        <div class="label_fields">
            <div class="label_field">{{ label1.label_title_name }}<br>{{ form.label_title1 }}</div>
            <div class="label_field">{{ label2.label_title_name }}<br>{{ form.label_title2 }}</div>
            <div class="label_field">{{ label3.label_title_name }}<br>{{ form.label_title3 }}</div>
            <div class="label_field">{{ label4.label_title_name }}<br>{{ form.label_title4 }}</div>
            <div class="label_field">{{ label5.label_title_name }}<br>{{ form.label_title5 }}</div>
            <div class="label_field">{{ label6.label_title_name }}<br>{{ form.label_title6 }}</div>
            <div class="label_field">{{ label7.label_title_name }}<br>{{ form.label_title7 }}</div>
            <div class="label_field">{{ label8.label_title_name }}<br>{{ form.label_title8 }}</div>
        </div>
        <br>
        <br>
        <button type="submit">更新する</button>
    </form>
</body>
</html>