<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <p>このページを削除してもよいですか？</p>
        <button type="submit">削除</button>
    </form>

    <h2>{{ watch_detail.food_name }}</h2>
    <div>{{ watch_detail.first_date }}</div>
    <div>{{ watch_detail.memo }}</div>
</body>
</html>