@charset "UTF-8";
header {
    background-color:#f4e9e5;
    padding: 5px;
    
}
h1{
    font-weight: bold;
    font-size: 55px;
    color: #2f2f2f;
    margin: 10px 20px;
    font-family: 'HanziPen SC', sans-serif;
}
.FoodAtllier {
    width: 100%;  /* 背景画像はコンテナのサイズに合わせる */
    height: 100%; /* 背景画像はコンテナの高さに合わせる */
}
.mokumoku1 {
    position: absolute;
    top: 38%;  /* 上に重ねる画像を中央に配置 */
    left: 25%;
    width: 200px; /* 上に重ねる画像の幅 */
    height: 170px; /* 上に重ねる画像の高さ */
    transform: rotate(200deg);  /* 画像を時計回りに45度回転 */
}
.bikkuri {
    position: absolute;
    top: 42%;  /* 上に重ねる画像を中央に配置 */
    left: 29%;
    width: 80px; /* 上に重ねる画像の幅 */
    height: 80px; /* 上に重ねる画像の高さ */
    transform: rotate(-17deg); 
}
.mokumoku1:hover {
    transform: rotate(200deg) scale(1.1);
}
.deside{
    position: absolute;
    top: 48%;  /* 上に重ねる画像を中央に配置 */
    left: 30%;
    width: 80px; /* 上に重ねる画像の幅 */
    height: 80px; /* 上に重ねる画像の高さ */
    font-family: 'HanziPen SC', sans-serif;
    font-size: 22px;
}
.container{
    display: flex;
    justify-content: center;
}
.section2{
    position: relative;
    left: 50px;
}
.recipe{
    position: absolute;
    top: 20px;
    left: 40px;
}
.section3{
    position: relative;
    left: 50px;
}
.mokumoku2{
    position: absolute;
    top: 0%;  /* 上に重ねる画像を中央に配置 */
    left: 25%;
    width: 200px; /* 上に重ねる画像の幅 */
    height: 170px; /* 上に重ねる画像の高さ */
}
.mokumoku2:hover {
    transform: scale(1.1);
}
.pen{
    position: relative;
    left: 90px;
    width: 100px;
    height: 100px;
    transform: rotate(-17deg); 
}
.record{
    position: relative;
    top: -40px;
    left: 100px;
    width: 80px;
    height: 80px;
    font-family: 'HanziPen SC', sans-serif;
    font-size: 22px;
}